body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #aaa;
    position: relative;
    margin:0;
}
canvas{
    position: absolute;
}
#world-box{
    position: relative;
    width: 75vw;
    height: 75vh;
    left: 0;
    top: 0;
    overflow: hidden;
    border: 2px solid #aaa;
}
#world-view{
    transition: all 400ms ease;
    transform: scale();
}
#highlight-box{
    position: absolute;
    border: 1px solid rgb(141, 103, 46);
    transition: all 150ms linear;
    
}
.player{
    transition: all 150ms ease-in-out;
}