body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #aaa;
    position: relative;
    margin:0;
}

#player-container{
}

.player{
    position: absolute;
    color: rgba(122, 1, 255, 1)
}